{{>partials/header}}
<a href="">Adicionar Usuario</a>
<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>EMAIL</th>
        <th>AÇÕES</th>
    </tr>
</table>
{{>partials/footer}}